{% extends 'main/base.html' %}

{% block content %}
<div style="height:30px;width:100%;"></div>

<a class="btn btn-primary" href="{% url 'admin-new-event' %}">+ New Event</a>
{% if user.id == 1 %}
<a class="btn btn-primary" href="{% url 'admin-new-user' %}">+ New User</a>
{% endif %}

<h3>YOUR EVENTS</h3>

{% for event in events %}

	{% include 'main/sp_event-description.html' %}

{% endfor %}

{% endblock content %}

{% block scripts %}

<script type="text/javascript">

//For getting CSRF token
function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
             }
          }
      }
 return cookieValue;
}

function publish(event_id,status){
	var csrftoken = getCookie('csrftoken');

	$.post(
		'/admin/publish/',
		{
			csrfmiddlewaretoken : csrftoken,
			event_id: event_id,
			status: status
		}, 
		function(data){
       		location.reload();
    	}
    );

}

function setactive(event_id,status){
	var csrftoken = getCookie('csrftoken');

	$.post(
		'/admin/active/',
		{
			csrfmiddlewaretoken : csrftoken,
			event_id: event_id,
			status: status
		}, 
		function(data){
       		location.reload();
    	}
    );

}

</script>

{% endblock scripts %}


