{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>OneTX
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon.png' %}" >

        <link href="{% static 'css/onetx.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet"  type="text/css"/>

        <!-- Bootstrap core CSS     -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"  type="text/css"/>

        <!-- Animation library for notifications   -->
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css"/>

        <!--  Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
        <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">

        {% block css %}
        {% endblock %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-102766505-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <image src="{% static 'assets/onetxlogos_white.png' %}" style="width:50%; height: 50%;"/>
            </div>
        </div>

<!--         <header role="banner">
            <div class="header logo">
                <image src="{% static 'assets/onetxlogos_white.png' %}" style="width:50%; height: 50%;"/>
            </div>
        </header>
 -->
        {% block navlistbar %}
        {% endblock navlistbar %}

        <div class="content">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% block about %}
        {% endblock about %}

        {% block yourrights %}
        {% endblock yourrights %}

        {% block footer %}
        {% endblock footer %}

        <script type="text/javascript" src="{% static 'js/onetx.js' %}"></script>
        <script src = "{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src = "{% static 'js/jquery-ui.min.js' %}"></script>
        <script src = "{% static 'js/bootstrap.min.js' %}"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
