{% extends 'main/base.html' %}

{% block content %}
	<div style="height:30px;width:100%;"></div>
    <h1>Edit event</h1>
    <p>{{ event.event_start_time }}</p>
    <p>{{ event.event_end_time }}</p>
    <form method="POST" class="post-form">
    {% csrf_token %}
    	<div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>Event Type</label>
    			</div>
    			<div class='col-md-4'>
    				<select class="form-control" name="eventtype" required>
                        <option value="{{ event.eventType.id }}">{{event.eventType.typename}}</option>
    					{% for eventtype in eventtypes %}
    					<option value="{{ eventtype.id }}">{{eventtype.typename }}</option>
    					{% endfor %}
    				</select>
    			</div>
    		</div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>Name</label>
    			</div>
    			<div class='col-md-4'>
    				<input type="text" class="form-control" id="name" name="name" value="{{event.name}}" required/>
    			</div>
    		</div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>Description</label>
    			</div>
    			<div class='col-md-9'>
                    <textarea class="form-control" style="font-size: 12px;" id="description" name="description" rows="8" required>{{event.description}}</textarea>
    			</div>
    		</div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>Event has a location</label>
    			</div>
    			<div class='col-md-4'>
                    {% if event.has_location %}
        				<input type="radio" name="has_location" value="1" checked/>Yes<br/>
      					<input type="radio" name="has_location" value="0"> No
                    {% else %}
                        <input type="radio" name="has_location" value="1"/>Yes<br/>
                        <input type="radio" name="has_location" value="0" checked> No
                    {% endif %}
    			</div>
    		</div>
            <div class="row">
                <div class='col-md-3'>
                    <label>Location Name (i.e. "State Capitol"</label>
                </div>
                <div class='col-md-4'>
                    <input type="text" class="form-control" id="location_name" name="location_name" value="{{event.location_name}}" />
                </div>
            </div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>Street Address</label>
    			</div>
    			<div class='col-md-4'>
    				<input type="text" class="form-control" id="street_address" name="street_address" value="{{event.street_address}}" />
    			</div>
    		</div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>City</label>
    			</div>
    			<div class='col-md-4'>
    				<input type="text" class="form-control" id="city" name="city" value="{{event.city}}" />
    			</div>
    		</div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>Zipcode</label>
    			</div>
    			<div class='col-md-4'>
    				<input type="text" class="form-control" id="zipcode" name="zipcode" value="{{event.zipcode}}"  />
    			</div>
    		</div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>Event Date</label>
    			</div>
    			<div class='col-md-4'>
    				<input type="text" class="form-control" id="event_date" name="event_date" value="{{event.event_date|date:'m/d/Y' }}" required/>
    			</div>
    		</div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>Event Time (i.e. 7-9 PM)</label>
    			</div>
    			<div class='col-md-4'>
    				<input type="text" class="form-control" id="event_time" name="event_time" value="{{event.event_time}}" required/>
    			</div>
    		</div>
    		<div class="row">
    			<div class='col-md-3'>
    				<label>RSVP Url (i.e. "www.whatnot.com")</label>
    			</div>
    			<div class='col-md-4'>
    				<input type="text" class="form-control" id="url" name="url" value="{{event.url}}" required/>
    			</div>
    		</div>

    	</div>
        <button type="submit" class="save btn btn-primary">Save</button>
    </form>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block scripts %}

<script>
    $(function() {
        $("#event_date").datepicker();
    });
</script>

{% endblock %}