{% extends 'main/base.html' %}
{% load staticfiles %}

{% block css %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
   integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
   crossorigin=""/>

{% endblock css %}


{% block navlistbar %}

    <nav id="navbar-primary" class="navbar navbar-red" role="navigation">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                <ul class="nav navbar-nav">
                    <li class="active" onclick="scroll_to_el('eventbox',20);">FIND AN EVENT</li>
                    <li onclick="scroll_to_el('eventlistbox',20);">EVENTS</li>
                    <li onclick="scroll_to_el('aboutbox',0);">ABOUT</li>
                    <li onclick="scroll_to_el('yourrightsbox',0);">YOUR RIGHTS</li>
                    <li onclick="scroll_to_el('footer',0);">SPONSORS</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<!--     <div class="navlist">
		<table width="100%">
			<tbody>
				<tr>
					<td>
						<h4 onclick="scroll_to_el('eventbox',20);">FIND AN EVENT</h4>
					</td>
					<td>
						<h4 onclick="scroll_to_el('eventlistbox',20);">EVENTS</h4>
					</td>
					<td>
						<h4 onclick="scroll_to_el('aboutbox',0);">ABOUT</h4>
					</td>
					<td>
						<h4 onclick="scroll_to_el('yourrightsbox',0);">YOUR RIGHTS</h4>
					</td>
					<td>
						<h4 onclick="scroll_to_el('footer',0);">SPONSORS</h4>
					</td>
				</tr>
			</tbody>
		</table>
	</div> -->

{% endblock navlistbar %}

{% block content %}

	<div class="jumbotron">
		<h2>Welcome to the One Texas Resistance (#OneTX) </h2>
		<p>We are progressive and justice-oriented advocates, focused on building the collective power of our movement in Texas and in the state legislature. This page will be a one stop shop for all of the actions for Special Session. We will have daily actions for the entire 30 days of Special Session.</p>
		<p>You can also sign up to receive email alerts here: http://bit.ly/jointxlegeresistance</p>
		<p><strong>Questions? Email us at <a href="mailto:txlegeresistance@gmail.com">txlegeresistance@gmail.com</a></strong></p> 
	</div>

	<div id="eventbox" class="row">
		<div class="col-md-4">
			<div id="event_filter">
				<h4>FIND EVENTS</h4>
				<label for="flt_location">Location</label><br/>
				<input id="flt_location" type="text" name="location" class="form-control enter_search" />

				<br/>
				<label for="flt_distance">Distance</label><br/>
				<select class="form-control enter_search" name="distance" id="flt_distance">
					<option value='20'>20 miles</option>
					<option value='50'>50 miles</option>
					<option value='100'>100 miles</option>
					<option value='500'>500 miles</option>
				</select>

				<br/>
				<label for="flt_fromdate">From Date</label><br/>
				<input id="flt_fromdate" name="from_date" type="date" class="form-control" />

				<br/>
				<label for="flt_todate">To Date</label><br/>
				<input id="flt_todate" name="to_date" type="date" class="form-control" />

				<br/>
				<input type="submit" class="search-btn btn" value="SEARCH" onclick="search();" />
			</div>
		</div>
		<div class="col-md-8">
			<div id="event_map">
			</div>
		</div>
	</div>

	<div id="eventlistbox">
		<h3>UPCOMING EVENTS</h3><br/>
		<div id="event_list">
		</div>
	</div>

{% endblock content %}

{% block about %}
	<div id="aboutbox">
		<h2>What is One Texas Resistance?</h2><br/>
		<p>One Texas Resistance is comprised of progressive and justice-oriented advocates, focused on building the collective power of our movement in Texas and in the state legislature. Together, these organizations have committed to: empowering new advocates, knocking on doors, and calling on elected officials to demand their attention every day of this Special Session and beyond.</p>
	</div>
{% endblock about %}


{% block yourrights %}
	<div id="yourrightsbox">
		<h2>Know Your Rights</h2><br/>
		<p>The Texas Constitution gives legislators broad authority to remove and/or jail people for even minor breaches of "decorum."</p>
		<p>If you do not wish to be removed from legislative proceedings, you should refrain from doing anything that could be construed as disrespectful or disruptive.</p>
		<p>Conduct that could fall into this category includes: shouting, clapping, or gesturing from public observation areas; physically blocking entrances; engaging in overly argumentative exchanges with legislative staff or other Capitol visitors; and/or otherwise preventing lawmakers from carrying out their business.</p>
	</div>
{% endblock yourrights %}

{% block footer %}
	<div class="footer" id="footer">
<!--             <div class="footer_links">
                <i class="ti-facebook"></i>
                <i class="ti-twitter-alt"></i>
                <i class="ti-instagram"></i>
                <i class="ti-email"></i>
            </div> -->

        <div class="row">
            <div class="col-sm-8">
                <h2 style="color:white">ONE TEXAS RESISTANCE COALITION</h2><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="https://www.facebook.com/ACLUofTexas/">ACLU of Texas</a><br/>
                <a href="https://www.facebook.com/theafiyacenter/">The Afiya Center</a><br/>
                <a href="https://www.facebook.com/deedsnotwords/">Deeds Not Words</a><br/>
                <a href="https://www.facebook.com/EqualityTexas/">Equality Texas</a><br/>
                <a href="">Human Rights Campaign</a><br/>
                <a href="https://www.facebook.com/indivisibleatx/">Indivisibleatx</a><br/>
                <a href="https://www.facebook.com/IndvsbleTXLege/">Indivisible #TXLege</a><br/>
                <a href="https://www.facebook.com/lilithfund/">The Lilith Fund for Reproductive Equity</a><br/>
                <a href="https://www.facebook.com/MiFamiliaVota/">Mi Familia Vota</a><br/>
                <a href="https://www.facebook.com/prochoicetexas/">NARAL Pro-Choice Texas</a><br/>
                <a href="https://www.facebook.com/PantsuitRepublic/">Pantsuit Republic</a><br/>
                <a href="https://www.facebook.com/PPTexasVotes/">Planned Parenthood Texas Votes</a><br/>
                <a href="https://www.facebook.com/SummerOfDefianceATX/">Planned Parenthood Summer of Defiance Austin</a><br/>
                <a href="https://www.facebook.com/ProgressTexas/">Progress Texas</a><br/>
            </div>
            <div class="col-sm-4">
                <a href="https://www.facebook.com/shiftabortionstigma/">Shift.</a><br/>
                <a href="https://www.facebook.com/TravisCountyDemocraticParty/">Travis County Democratic Party</a><br/>
                <a href="https://www.facebook.com/TexasDemocraticParty/">Texas Democratic Party</a><br/>
                <a href="https://www.facebook.com/teafund/">Texas Equal Access Fund - TEA Fund</a><br/>
                <a href="https://www.facebook.com/TexasFreedomNetwork/">Texas Freedom Network</a><br/>
                <a href="https://www.facebook.com/TexasLCV/">Texas League of Conservation Voters</a><br/>
                <a href="https://www.facebook.com/txstonewall/">Texas Stonewall Democrats</a><br/>
                <a href="https://www.facebook.com/TransTexas/">Transgender Education Network of Texas</a><br/>
                <a href="https://www.facebook.com/UWDHouston/">United We Dream - Houston</span><br/>
                <a href="https://www.facebook.com/votolatino/">Voto Latino</a><br/>
                <a href="https://www.facebook.com/WholeWomansHealth/">Whole Woman's Health</a><br/>
                <a href="">Womens March San Antonio</a><br/>
                <a href="https://www.facebook.com/WDActionFund/">Workers Defense Action Fund</a><br/>
            </div>
        </div>

	    <div id="disclaimer">
	        <p>Pol. Adv. paid for by the Texas Democratic Party, www.txdemocrats.org. This communication is not authorized by any candidate or candidate’s committee.</p>
	    </div>
	</div>

{% endblock footer %}


{% block scripts %}

<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
   integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
   crossorigin=""></script>

<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

<script type ='text/javascript'>

var layer = new L.StamenTileLayer("toner-lite");

var map = new L.Map("event_map", {
    center: new L.LatLng(31.450556, -99.571111),
    zoom: 6
});

var markers = new L.FeatureGroup();

//For getting CSRF token
function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
             }
          }
      }
 return cookieValue;
}

function ev_focus(event_id){
	$('html, body').animate({
        scrollTop: $("#ev_" + event_id).offset().top
    }, 500);
    return false;
}

function scroll_to_el(id,ofs){
	$('html, body').animate({
        scrollTop: $("#" + id).offset().top-ofs
    }, 500);
    return false;
}

function format_date(date) {
	console.log(date);
	console.log(date.getDate());
	return (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();
}

function redraw_events(data){

	for(x=0;x<data.events.length;x++){

		var ev = data.events[x];

		var ev_date = new Date(ev['event_date'] + " CST");

		var ev_datetime = format_date(ev_date) + ', ' + ev['event_time'];

		/* add marker to map */

		if(ev.has_location==true && ev.lat){
			// var marker = L.marker([ev.lat.toString(),ev.lon.toString()]).addTo(map);

			var marker = L.marker([ev.lat.toString(),ev.lon.toString()]);

			var popup = "";
			popup = popup + "<button class='btn-link' onclick='ev_focus(" + ev['id'] + ")'><h5>" + ev['name'] + "</h5></button><br/>";
			popup = popup + "<span>" + ev_datetime + "</span>";

			marker.bindPopup(popup);

			marker.addTo(markers);
		}

		/* add event to event list */
		
		var ev_div = $('<div id="ev_' + ev['id'] + '" class="event-listing"></div>');

		ev_div.append('<span class="event-list-date">' + ev_datetime + '</span><br/>');
		ev_div.append('<h4>' + ev['name'] + '</h4>');
		ev_div.append('<p>' + ev['description'] + '</p>');
		ev_div.append('<label>What: </label>');
		ev_div.append('<span> ' + ev['eventType__typename'] + '</span><br/>');
		ev_div.append('<label>Where: </label>');

		var loc_address = ''

		if(ev['location_name'].length > 1){
			loc_address = loc_address + ev['location_name'] + ' - ';
		}

		if(ev['has_location'] == true){
			loc_address = loc_address + ev['street_address'] + ', ' + ev['city'] + ', Texas'
		} else {
			loc_address = 'Anywhere!';
		}

		ev_div.append('<span> ' + loc_address + '</span><br/>');

		ev_div.append('<label>Sponsor: </label>');
		ev_div.append('<span> ' + ev['org__org_name'] + '</span><br/>');

		if(ev.url.length > 1){
			ev_div.append('<label>RSVP: </label>');
			ev_div.append('<a href="http://' + ev.url + '"> http://' + ev.url + '</a>');
		};

		$('#event_list').append(ev_div);

	}
}



function search() {
		
	var csrftoken = getCookie('csrftoken');

	// Inputs 
	var location = $('#flt_location').val();
	var distance = $('#flt_distance').val();
	var from_date = $('#flt_fromdate').val();
	var to_date = $('#flt_todate').val();

	$.ajax({
	       url : window.location.href, // the endpoint,commonly same url
	       type : "POST", // http method
	       data : { csrfmiddlewaretoken : csrftoken, 
	       	location : location,
	       	distance : distance,
	       	from_date : from_date,
	       	to_date : to_date
		}, // data sent with the post request

 		success : function(data) {
 			console.log(data); // another sanity check

 			$('#event_list').empty();
 			markers.clearLayers();
 			redraw_events(data)

		},

		error : function(xhr,errmsg,err) {
 			console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
		}
	});

}

$(function(){

	map.addLayer(layer);
	map.addLayer(markers);

	$.get('/ajax-all-events', 
		// {
		// }, 
		function(data){
       		console.log(data);
       		redraw_events(data);
    	}
    );

    $(".enter_search").keyup(function(event){
    	if(event.keyCode == 13){
        	search();
    	}
	});

});

</script>

{% endblock scripts %}