{% extends 'main/base.html' %}

{% block content %}
<div class="container creds">
    <form method="post" action="{% url 'login' %}" autocomplete="off">
        {% csrf_token %}
        <p class="bs-component">
            <table style="margin-left: 20%; margin-right: 20%; width:60%">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td style="height:10px">
                    </td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
        </p>
        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" type="submit" value="login" />
            </center>
        </p>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock footer %}