<div>
	<h3>{{ event.name}}</h3>
	<p>{{ event.description }}</p>
	<label class="ev_label">What: </label>
	<span>{{ event.eventType.typename }}</span><br/>
	<label class="ev_label">When: </label>
	<span>{{ event.event_date }}, {{ event.event_time }}</span><br/>
	<label class="ev_label">Where: </label>
	{% if event.has_location %}
	<span>{% if event.location_name %}{{ event.location_name}} - {% endif %}{{ event.street_address }}, {{event.city }}, Texas</span><br/>
	{% else %}
	<span>Anywhere!</span><br/>
	{% endif %}
	<label class="ev_label">Sponsor: </label>
	<span>{{ event.org.org_name }}</span><br/>
	<label class="ev_label">RSVP: </label>
	<a href="http://{{ event.url }}">{{event.url}}</a><br/>
	{% if event.is_live %}
	<button class="btn btn-secondary" onclick="publish({{event.id}},0)">Un-publish</button>
	{% else %}
	<button class="btn btn-success" onclick="publish({{event.id}},1)">Publish</button>
	{% endif %}
	<a class="btn btn-primary" href="/admin/edit-event/{{event.id}}/">Edit</a>
	<button class="btn btn-danger" onclick="setactive({{event.id}},0)">Delete</button>
</div>

<!-- 
	eventType = models.ForeignKey(EventType)
	org = models.ForeignKey(Org)
	description = models.TextField(blank=True)
	street_address = models.CharField(max_length=255,blank=True)
	city = models.CharField(max_length=255,blank=True)
	zipcode = models.CharField(max_length=5,blank=True)
	lat = models.CharField(max_length=50,blank=True)
	lon = models.CharField(max_length=50,blank=True)
	event_date = models.DateField()
	event_start_time = models.TimeField()
	event_end_time = models.TimeField()
	url = models.SlugField()
	image = models.ImageField()
	created_by = models.ForeignKey(User)
	created_at = models.DateTimeField(auto_now_add = True)
	updated_at = models.DateTimeField(auto_now = True) -->