h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif !important;
}

body, html {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px;
}

.navbar {
    position: relative;
    min-height: 50px !important;
    margin-bottom: 40px !important;
    height: 50px;
    line-height: 50px;
    border-radius: 0 !important;
}


@media only screen and (max-width: 767px) and (min-width : 320px) {
	.container-fluid {
		padding-left: 1em !important;
		padding-right: 1em !important;
		padding-bottom: 2em !important;
	}

	#aboutbox {
		padding: 1em;
	}

	#yourrightsbox {
		padding: 1em;
	}

	.footer {
		padding: 1em;
	}
}

@media only screen and (min-width : 768px) {
	.container-fluid {
		padding-left: 7em !important;
		padding-right: 7em !important;
		padding-bottom: 7em !important;
	}

	.navbar {
	    border-radius: 0 !important;
	}

	#aboutbox {
		padding: 7em;
	}

	#yourrightsbox {
		padding: 7em;
	}

	.footer {
		padding: 7em 10em 20em 10em;
	}
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 20%;
    float: none;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    color: white;
}

.navbar-red {
	background-color: #ff0000;
}

.footer {
	background-color: #474747;
}

.footer_links {
	font-size: 20px;
	text-align: center;
}

.footer_links i {
	padding-left: 10px;
	padding-right: 10px;
}

.footer a {
	color: #eeeeee;
}

.footer a:hover {
	color: white;
	text-decoration: none;
}

.header {
	text-align: center;
	position: relative;
	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 30px;
	line-height: 100px;
}

.logo {
	text-align: center;
}

.navlist table > tbody > tr > td {
	text-align: center;
	width: 20%;
	font-family: Roboto;
	letter-spacing: 2px;
}

.navlist table > tbody > tr > td:hover {
	text-decoration: underline;
}

.navlist {
	margin-bottom: 50px;
	background-color: #ff0000;
	padding: 0 7em 0 7em;
	color: white;
}

.search-btn {
	background-color: transparent;
}

.search-btn:hover {
	background-color: #ff0000;
	border-color: #ff0000 !important;
	color: white !important;
}

#eventbox {
	margin-bottom: 50px;
}

#aboutbox {
	background-color: #000;
	color: white;
	height: auto;
	font-size: 21px;
    font-weight: 200;

}

#yourrightsbox {
	background-color: #ff0000;
	color: white;
	height: auto;
	font-size: 21px;
    font-weight: 200;

}

#disclaimer {
	border: 1px solid white;
	padding: 1em;
	margin-top: 10em;
	color: white;
	font-weight: 200;
	text-align: center;
}

#disclaimer p {
	margin: 0;
}

#event_map { 
	height: 600px; 
}

/*#event_filter {
	height: 600px;
	background-color: #EEE;
	padding: 10px 10px 10px 10px;
}*/

#event_filter {
	height: 600px;
	background-color: white;
	padding: 10px 10px 10px 10px;
}

#event_filter input, #event_filter select {
	border: 1px solid black;
	border-radius: 0 !important;
	-webkit-appearance: none;
}

#event_filter label {
	text-transform: uppercase;
}


.post-form textarea, .post-form input[type="text"], .post-form input[type="date"], 
.post-form input[type="time"], .post-form select {
    width: 100%;
    line-height: 40px;
    font-size: 20px;
}

.post-form input[type="text"], .post-form input[type="date"], 
.post-form input[type="time"], .post-form select {
    height: 40px;
}

.post-form .row {
	margin-bottom: 10px;
}

.post-form label {
	line-height: 40px;
}

.event-listing {
	margin-bottom: 25px;
}

.event-list-date {
	text-transform: uppercase;
	font-style: italic;
	color: #A5A5A5;
}

.btn-link {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}

.jumbotron {
	padding: 1em;
}

.ui-datepicker {
	background-color: white;
}


/*
.post-form textarea, .post-form input:not([type]), .post-form input[type="text"] {
    width: 100%;
}

.post-form select, .post-form input[type="select"], .post-form input[type="date"] , .post-form input[type="time"]  {
    width: 200px;
}*/

